{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static "semantic/dist/semantic.min.css" %}">
  <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
</head>
<body>

    <nav class="ui fixed menu inverted navbar">
        <a href="http://www.janaagraha.org" class="brand item">Janagraaha</a>
        <a href="attendance" class="item">Attendance</a>
        {% if currentuser.is_staff %}
      <a href ="admin" class = "item" style = "right:0;">Admin</a>
      {% endif %}
        <div class = "right menu">
          {% if currentuser %}
          <div class = "item">Welcome {{currentuser.username}}</div>
            <a href ="/logout" class = "item"> Logout </a>

          {% else %}
          <a href ="/login" class = "item"> Login </a>
          {% endif %}

      </div>
    </nav> <!-- end nav -->
<img id="mainicon" src='{% static "img/janaagraha.png"%}'

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</body>
</html>
